<link rel="icon" href="{{ url_for('public_file', filename='assets/brand/develobmail-favicon.png') }}" sizes="32x32" type="image/png">
<link rel="icon" href="{{ url_for('public_file', filename='assets/brand/develobmail-favicon.png') }}" sizes="16x16" type="image/png">
<link rel="apple-touch-icon" href="{{ url_for('public_file', filename='assets/brand/develobmail-favicon.png') }}">
<meta name="theme-color" content="#0b1c34">
{% if google_analytics_id %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag("js", new Date());
        gtag("config", "{{ google_analytics_id }}");
    </script>
{% endif %}
